<%= turbo_stream.update "flash" do %>
  <%= render "layouts/flash"%>
<% end %>

<%= turbo_stream.update @service_date do %>
  <span class="<%= service_date_color(@service_date.date) %>">
    <%= @service_date.date.strftime("%d/%m/%Y") %>
  </span>
  <% if current_user.admin? || current_user.editor? %>
    <%= link_to edit_service_date_path(@service_date), class: "ms-2" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  <% end %>
<% end %>
