<%= turbo_frame_tag equipment_link do %>
  <div class="card bg-secondary">
    <div class="card-body d-flex">
      <%= link_to "#{equipment_link.brand.upcase} #{equipment_link.model.upcase}", equipment_path(equipment_link),
                                                                                   class: "me-auto text-white",
                                                                                   data: { turbo_frame: "_top" } %>
      <%= render "shared/dropdown" do %>
        <li><%= link_to "Editar", edit_equipment_path(equipment_link), class: "btn btn-primary me-2 dropdown-item", data: { turbo_frame: "remote_modal" } %></li>
        <li><%= button_to "Eliminar", equipment_path(equipment_link), method: :delete, class: "bg-danger dropdown-item" %></li>
      <% end %>
    </div>
  </div>
<% end %>