<%= render "shared/content_header", title: "#{@equipment.full_name.upcase}" do %>
  <%= render "shared/dropdown" do %>
    <%= render "shared/button_box", edit_path: edit_equipment_path(@equipment),
                                    delete_path: equipment_path(@equipment),
                                    confirm: "Seguro queres borrar el Equipo?" %>
  <% end %>
<% end %>

<div class="row mt-3">
  <% if equipment.ups? %>
    <%= render "ups_attributes", equipment: equipment %>
  <% elsif equipment.power_unit? %>
    <%= render "power_unit_attributes", equipment: equipment %>
  <% elsif equipment.electrical_panel? %>
    <%= render "electrical_panel_attributes", equipment: equipment %>
  <% elsif equipment.building? %>
    <%= render "building_attributes", equipment: equipment %>
  <% end %>
</div>

<div class="row mt-3">
  <h4>Insumos por defecto</h4>
  <div class="row">
    <div class="w-auto">
      <h5 class="text-center">Bateria</h5>
      <%= turbo_frame_tag "equipment_battery" do %>
        <%= render "equipment_supplies/equipment_battery", equipment: equipment %>
      <% end %>
    </div>
  </div>
</div>