<%= render "shared/content_header", title: "#{@equipment.brand.upcase} #{@equipment.model.upcase}" do %>
  <%= render "shared/dropdown" do %>
    <%= render "shared/button_box", edit_path: edit_equipment_path(@equipment),
                                    delete_path: equipment_path(@equipment),
                                    confirm: "Seguro queres borrar el Equipo?" %>
  <% end %>
<% end %>

<div class="container mt-3">
  <% equipment.attributes.each do |attribute, value| %>
    <% next if %w[id created_at updated_at].include? attribute %>
    <div class="mb-3">
      <p>
        <strong class="text-bg-primary p-1 rounded me-2">
          <%=  Equipment.human_attribute_name(attribute) %>
        </strong>
        <% if attribute.eql?("manual") && value.present?  %>
          <%= link_to "ver", value, target: "_blank" %>
        <% else %>
          <%= value %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="row mt-4">
    <h4>Insumos por defecto</h4>
    <div class="row">
      <div class="w-auto">
        <h5 class="text-center">Bateria</h5>
        <% if equipment.battery.present? %>
          <%= render "supply", supply: equipment.battery %>
        <% else %>
          <%= render "supply_placeholder", path: edit_equipment_path(equipment.id) %>
        <% end %>
      </div>
    </div>
  </div>
</div>