<p>
  <strong class="text-bg-primary p-1 rounded me-2">
    <%= Equipment.human_attribute_name("motor_brand") %>
  </strong>
  <%= equipment.motor_brand %>
</p>
<p>
  <strong class="text-bg-primary p-1 rounded me-2">
    <%= Equipment.human_attribute_name("motor_model") %>
  </strong>
  <%= equipment.motor_model %>
</p>
<p>
  <strong class="text-bg-primary p-1 rounded me-2">
    <%= Equipment.human_attribute_name("generator_brand") %>
  </strong>
  <%= equipment.generator_brand %>
</p>
<p>
  <strong class="text-bg-primary p-1 rounded me-2">
    <%= Equipment.human_attribute_name("generator_model") %>
  </strong>
  <%= equipment.generator_model %>
</p>
<p>
  <strong class="text-bg-primary p-1 rounded me-2">
    <%= Equipment.human_attribute_name("kw") %>
  </strong>
  <%= equipment.kw %>
</p>