<%= turbo_frame_tag equipment_supply, class:"card", style:"width: 12rem; min-height: 20rem" do %>
  <%= image_tag image_for(equipment_supply, :avatar, ""),
                alt: "Imagen de Bateria",
                class:"img-fluid rounded-top" %>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title text-truncate"><%= equipment_supply.model.upcase %></h5>
      <%= render "shared/dropdown" do %>
        <%= render "shared/button_box", edit_path: edit_equipment_supply_path(equipment_supply),
                                        delete_path: equipment_supply_path(equipment_supply),
                                        confirm: "Seguro queres borrar el Insumo?" %>
      <% end %>
    </div>
    <p class="card-text"><%= equipment_supply.voltage %>V <%= equipment_supply.amps %>Ah</p>
  </div>
<% end %>