<%= content_tag :tr, id: dom_id(user) do %>
  <td><%= user.email %></td>
  <td><%= user.role.capitalize %></td>
  <td><%= user.client&.name %></td>
  <td class="d-flex justify-content-start align-items-center">
    <%= link_to edit_user_path(user), class: "ms-2" , data: { turbo_frame: "remote_modal" } do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= button_to user_path(user), class: "btn btn-sm", form_class: "d-inline", method: :delete, form: { data: {turbo_confirm: "¿Estas seguro?"} } do %>
      <i class="fas fa-trash text-danger"></i>
    <% end %>
  </td>
<% end %>