<%= turbo_frame_tag item, class: "col-sm-6 col-md-4 col-xl-3" do %>
  <div class="card">
    <% if item.avatar.attached? %>
      <%= image_tag item.avatar.variant(resize_and_pad: [300, 300]),
                    alt: "Imagen de Item",
                    class:"img-fluid rounded-top bg-light",
                    style: "height: 300px;" %>
    <% else %>
      <%= image_tag "placeholder-img.jpeg",
                    alt: "Imagen de Item",
                    class:"img-fluid rounded-top",
                    style: "height: 300px;" %>
    <% end %>
    <div class="card-body">
      <h6 class="card-title" style="height: 40px;"><%= item.model %></h6>
      <% if lookup_context.template_exists?("item_info", item.class.to_s.underscore.pluralize, true)%>
        <%= render partial: "#{item.class.to_s.underscore.pluralize}/item_info", locals: {item: item} %>
      <% end %>
      <%= link_to "Ver", url_for(item),
                         class: "btn btn-primary",
                         data: { turbo_frame: :_top } %>
      <% if lookup_context.template_exists?("item_actions", item.class.to_s.underscore.pluralize, true)%>
        <%= render partial: "#{item.class.to_s.underscore.pluralize}/item_actions", locals: {item: item} %>
      <% end %>
    </div>
  </div>
<% end %>