<h4><%= title %></h4>
<%= turbo_frame_tag "equipment_supplies", class: "row" do %>
  <div class="w-auto">
    <h5 class="text-center">Bateria</h5>
    <%= turbo_frame_tag "equipment_battery" do %>
      <% if equipment.battery.present? %>
        <%= render "shared/supply", supply: equipment.battery %>
      <% else %>
        <%= turbo_frame_tag dom_id(EquipmentSupply.new, :new_battery) do %>
          <%= render "shared/supply_placeholder",
                    add_supply_path: new_equipment_supply_path(equipment_supply: {
                                                                  equipmentable_id: equipment.id,
                                                                  equipmentable_type: equipment.class,
                                                                  suppliable_type: "Battery" }) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>