<%= turbo_frame_tag client do %>
  <div class="align-items-center list-group-item list-group-item-action">
    <%= link_to client_path(client), data: { turbo_frame: :_top},
                                    class: "flex-grow-1 text-center text-light link-underline-dark" do %>
      <div class="d-flex w-100 align-items-center" style="height: 100px;">
        <% if client.avatar.attached? %>
          <%= image_tag client.avatar.variant(resize_to_limit: [100, nil]) %>
        <% else %>
          <%= client.name %>
        <% end %>

        <%= render "shared/dropdown" do %>
          <%= render "shared/button_box", edit_path: edit_client_path(client),
                                          delete_path: client_path(client),
                                          confirm: "Seguro queres borrar el Cliente?" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>