<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(client.errors.count, "errors") %>:</p>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :avatar, "Logo:", class: "col-sm-2 col-form-label" %>
    <div class="col-md-6">
      <%= form.file_field :avatar, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="row">
    <%= form.label :name, "Nombre: ", class: "col-sm-2 col-form-label" %>
    <div class="col-md-6">
      <%= form.text_field :name, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="mt-2">
    <%= form.submit 'Aceptar', class: "btn btn-outline-secondary" %>
  </div>
<% end %>
