<%= turbo_frame_tag "main_content" do %>
  <%= render "shared/content_header", title: @client.name %>

  <div class="col mt-3">
    <%= render "shared/content_header", title: "Sedes" do %>
      <%= render "shared/button_link", text: "Agregar",
                                      path: [:new, @client, :location] %>
    <% end %>
    <div class="mt-4" id="locations">
      <%= render @client.locations, client: @client%>
    </div>
  </div>
<% end %>