<div class="container mt-3">
  <div class="container border border-info border-opacity-50 rounded p-2">
  <%= turbo_frame_tag @client do %>
    <%= render @client %>

    <div>
      <%= link_to "Editar cliente", edit_client_path(@client), class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %> |
      <%= link_to "Volver al listado", clients_path,
                                       class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover",
                                       data: { turbo_frame: "_top"} %>

      <%= button_to @client, method: :delete,
                             class: "btn btn-danger mt-2",
                             form: { data: { turbo_frame: "_top" } } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="container border border-info border-opacity-50 rounded p-2 mt-3">
    <h2 class="text-center">Sedes</h2>
    <%= link_to "Agregar sede", [:new, @client, :location],
                                class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover",
                                data: { turbo_frame: nested_dom_id(@client, Location.new)} %>
    <%= turbo_frame_tag nested_dom_id(@client, Location.new) %>

    <%= turbo_frame_tag nested_dom_id(@client, "locations") do %>
      <div class="mt-4">
        <%= render @client.locations, client: @client %>
      </div>
    <% end %>
  </div>
  <div class="container border border-info border-opacity-50 rounded p-2 mt-3">
    <h2 class="text-center">Sedes</h2>
    <%= link_to "Agregar equipo", [:new, @client, :location_equipment],
                                  class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    <%= render @location_equipments %>
  </div>
</div>