<%= turbo_frame_tag "main_content" do %>
  <%= render "shared/content_header", title: @client.name do %>
    <%= render "shared/dropdown" do %>
      <%= render "shared/button_box", edit_path: edit_client_path(@client),
                                      delete_path: client_path(@client),
                                      confirm: "Seguro queres borrar el Cliente?" %>
    <% end %>
  <% end %>

  <div class="container mt-3">
    <%= link_to clients_path do %>
      <i class="fa-solid fa-chevron-left mb-3"></i>
    <% end %>
    <%= render "shared/content_header", title: "Sedes" do %>
      <%= render "shared/button_link", text: "Agregar",
                                       path: [:new, @client, :location] %>
    <% end %>
    <div class="mt-4">
      <%= render @client.locations, client: @client%>
    </div>
  </div>
<% end %>
