<%= content_tag :tr, id: dom_id(document), class: "align-items-stretch" do %>
  <td class="align-middle">
    <p class="m-0"><%= document.description %></p>
    <p class="m-0 fw-lighter" style="font-size: 0.8rem;">Fecha: <%= document.created_at.strftime("%d/%m/%Y") %></p>
  </td>
  <td class="align-middle">
    <div class="d-flex justify-content-evenly align-items-center">
      <% if document.file.attached? %>
        <%= link_to polymorphic_path([documentable, document]), data: { turbo_frame: "remote_modal" } do %>
          <i class="fa fa-file" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to edit_polymorphic_path([documentable, document]), class: "ms-2" , data: { turbo_frame: "remote_modal" } do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= button_to polymorphic_path([documentable, document]), class: "btn btn-sm", form_class: "d-inline", method: :delete, form: { data: {turbo_confirm: "¿Estas seguro?"} } do %>
          <i class="fas fa-trash text-danger"></i>
        <% end %>
      <% end %>
    </div>
  </td>
<% end %>