<%= form_with(model: location_equipment) do |form| %>


  <div class="container p-3 border">
    <div class="row justify-content-center">
    <% if location_equipment.errors.any? %>
      <div style="color: red" class="col-auto">
        <ul>
          <% location_equipment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="col-auto">
        <%= form.text_field :name, placeholder: "Nombre de la sede", class: "form-control text-center" %>
      </div>

      <div class="btn-group col-auto">
        <%= form.submit "Ok", class: "btn btn-success" %>

        <%= link_to client_path(client), class: "btn btn-danger" do %>
          <i class="fa-solid fa-x"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
