<%= simple_form_for location_equipment, html: { data: { controller: "location-equipment-form"}} do |f| %>
  <%= f.input :location_id, label: "Sede",
                            collection: locations.pluck(:name, :id),
                            prompt: "Seleccione una sede" %>
  <%= f.input :zone, label: "Sala" %>
  <%= f.input :floor, label: "Piso" %>
  <%= f.input :equipment_id, label: "Equipo",
                              collection: Equipment.all.map { |e| [e.model, e.id, { 'data-kind' => e.kind }] },
                              prompt: "Seleccione un equipo",
                              input_html: { data: { location_equipment_form_target: "equipment", action: "change->location-equipment-form#displayPowerUnitSerialNumberInputs change->location-equipment-form#displayServiceIntervals"}} %>
  <%= f.input :serial_number, label: "Numero de serie" %>
  <div data-location-equipment-form-target="powerUnitSerialNumbersGroup">
    <%= f.input :engine_serial_number, label: "Numero de serie del motor" %>
    <%= f.input :power_unit_serial_number, label: "Numero de serie del grupo electrógeno" %>
  </div>
  <%= f.input :code, label: "Codigo" %>
  <%= f.input :status, label: "Estado", collection: LocationEquipment.enum_attributes_for_select("status"), include_blank: false %>
  <div data-location-equipment-form-target="serviceInterval">
    <%= f.input :service_interval, label: "Intervalo entre servicios (años)" %>
  </div>
  <div data-location-equipment-form-target="batteryInterval">
    <%= f.input :battery_change_interval, label: "Intervalo de cambio de batería (años)" %>
  </div>
  <div data-location-equipment-form-target="beltInterval">
    <%= f.input :belt_change_interval, label: "Intervalo de cambio de correa (años)" %>
  </div>
  <%= f.input :form_link, label: "Link Formulario" %>
  <%= f.input :details, label: "Detalles" %>
  <%= f.button :submit, "Aceptar", class: "btn btn-success" %>
<% end %>