<div class="mb-2">
  <p class="card-text text-truncate mb-0">
    <small>
      <%= item.client.name %> - <%= item.location.name %>
    </small>
  </p>
  <p class="card-text text-truncate m-0">
    <small class="text-body-secondary">
      Sala: <%= item.zone %>
    </small>
  </p>
  <p class="card-text text-truncate m-0">
    <small class="text-body-secondary">
      Piso: <%= humanize_floor(item.floor) %>
    </small>
  </p>
  <p class="card-text text-truncate m-0">
    <small class="text-body-secondary">
      Estado: <%= item.status ? t("activerecord.attributes.location_equipment.statuses.#{item.status}") : "" %>
    </small>
  </p>
</div>
<div class="mb-2" style="height: 72px">
  <p class="card-text m-0 text-truncate">
    <small class="text-body-secondary">
      <label>Próximo service: </label>
      <span class="<%= service_date_color(item.next_service) %>">
        <%= l(item.next_service, format: :month_year_concise) if item.next_service %>
      </span>
    </small>
  </p>
  <p class="card-text m-0 text-truncate">
    <small class="text-body-secondary">
      <label>Próximo cambio de baterías: </label>
      <span class="<%= service_date_color(item.next_battery_change) %>">
        <%= l(item.next_battery_change, format: :month_year_concise) if item.next_battery_change %>
      </span>
    </small>
  </p>
  <% if item.equipment.power_unit? %>
    <p class="card-text m-0 text-truncate">
      <small class="text-body-secondary">
        <label>Próximo cambio de correas: </label>
        <span class="<%= service_date_color(item.next_belt_change) %>">
          <%= l(item.next_belt_change, format: :month_year_concise) if item.next_belt_change %>
        </span>
      </small>
    </p>
  <% end %>
</div>
