<%= turbo_frame_tag location_equipment do %>
  <div class="card mb-3 bg-secondary">
    <div class="row g-0">
      <div class="card-body">
        <div class="d-flex">
          <h5 class="card-title me-auto"><%= location_equipment.equipment.brand %> - <%= location_equipment.equipment.model %></h5>
          <%= render "shared/dropdown" do %>
            <li><%= link_to "Cambiar fechas", edit_location_equipment_path(location_equipment, edition: "service_dates"),
                                              class: "dropdown-item text-center",
                                              data: { turbo_frame: "remote_modal" } %></li>
            <%= render "shared/button_box", edit_path: edit_location_equipment_path(location_equipment),
                                            delete_path: location_equipment_path(location_equipment),
                                            confirm: "Seguro queres borrar este equipo?" %>
          <% end %>
        </div>
        <p class="card-text"><%= location_equipment.location.client.name %> - <%= location_equipment.location.name %></p>
        <div class="container p-0">
          <div class="row">
            <div class="col-lg-6 mb-3">
              <p class="card-text m-0">
                <small class="text-body-secondary">
                  Sala: <%= location_equipment.zone %> - Piso: <%= humanize_floor(location_equipment.floor) %>
                </small>
              </p>
              <p class="card-text m-0">
                <small class="text-body-secondary">Numero de serie: <%= location_equipment.serial_number %></small>
              </p>
            </div>
            <div class="col-lg-6">
              <% %i[last_service next_service last_battery_change next_battery_change].each do |attribute| %>
                <%= render "service_date", label: LocationEquipment.human_attribute_name(attribute),
                                           date: location_equipment.send(attribute) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>