<%= turbo_frame_tag location_equipment do %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="flex-grow-1">
        <%= location_equipment.equipment.brand %> - <%= location_equipment.equipment.model %>
      </div>

      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <%= link_to "Editar", [:edit, client, location_equipment], class: "dropdown-item text-center" %>
          <%= button_to "Borrar", [ client, location_equipment ], method: :delete, class: "dropdown-item text-center text-bg-danger" %>
        </ul>
      </div>
    </div>
  </div>
<% end %>