<%= turbo_frame_tag location_equipment do %>
  <div class="card bg-secondary mt-3">
    <div class="row g-0">
      <div class="col-md-2" style="min-width: 210px;">
        <%= image_tag image_for(location_equipment, :avatar, ""),
                      alt: "Imagen de Item",
                      class:"img-fluid rounded w-100" %>
      </div>
      <div class="col">
        <div class="card-body">
          <div class="d-flex">
            <% if current_user.admin? %>
              <h5 class="card-title me-auto">
                <%= link_to location_equipment.equipment.full_name, equipment_path(location_equipment.equipment),
                                                                    data: { turbo_frame: "_top" } %>
              </h5>

              <%= render "shared/dropdown" do %>
                <li><%= link_to "Cambiar fechas", edit_location_equipment_path(location_equipment, edition: "service_dates"),
                                                  class: "dropdown-item text-center",
                                                  data: { turbo_frame: "remote_modal" } %></li>
                <% if location_equipment.form_link.present? %>
                  <li><%= link_to "Formulario", location_equipment.form_link,
                                                class: "dropdown-item text-center",
                                                target: "_blank" %></li>
                <% end %>
                <%= render "shared/button_box", edit_path: edit_location_equipment_path(location_equipment),
                                                delete_path: location_equipment_path(location_equipment),
                                                confirm: "Seguro queres borrar este equipo?" %>
              <% end %>
            <% else %>
              <h5 class="card-title me-auto"><%= location_equipment.equipment.full_name %></h5>
            <% end %>
          </div>
          <p class="card-text"><%= location_equipment.location.client.name %> - <%= location_equipment.location.name %></p>
          <div class="row">
            <div class="col-lg-6 mb-3">
              <p class="card-text m-0">
                <small class="text-body-secondary">
                  Sala: <%= location_equipment.zone %>
                </small>
              </p>
              <p class="card-text m-0">
                <small class="text-body-secondary">
                  Piso: <%= humanize_floor(location_equipment.floor) %>
                </small>
              </p>
              <p class="card-text m-0">
                <small class="text-body-secondary">Numero de serie: <%= location_equipment.serial_number %></small>
              </p>
              <% if location_equipment.equipment.power_unit? %>
                <p class="card-text m-0">
                  <small class="text-body-secondary">Numero de serie del motor: <%= location_equipment.engine_serial_number %></small>
                </p>
                <p class="card-text m-0">
                  <small class="text-body-secondary">Numero de serie del grupo electrógeno: <%= location_equipment.power_unit_serial_number %></small>
                </p>
              <% end %>
              <p class="card-text m-0">
                <small class="text-body-secondary">Código: <%= location_equipment.code %></small>
              </p>
              <p class="card-text m-0">
                <small class="text-body-secondary">Estado: <%= location_equipment.status ? t("activerecord.attributes.location_equipment.statuses.#{location_equipment.status}") : "" %></small>
              </p>
              <p class="card-text m-0">
                <small class="text-body-secondary">Detalles: <%= location_equipment.details %></small>
              </p>
            </div>
            <div class="col-lg-6">
              <% %i[last_service next_service last_battery_change next_battery_change].each do |attribute| %>
                <%= render "service_date", label: LocationEquipment.human_attribute_name(attribute),
                                            date: location_equipment.send(attribute) %>
              <% end %>
              <% if location_equipment.equipment.power_unit? %>
                <% %i[last_belt_change next_belt_change].each do |attribute| %>
                  <%= render "service_date", label: LocationEquipment.human_attribute_name(attribute),
                                              date: location_equipment.send(attribute) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-3">
        <div class="row gx-5">
          <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="col">
              <%= render "shared/content_header", title: "Informes" do %>
                <% if current_user.admin? %>
                  <%= render "shared/button_link", text: "Nuevo Informe",
                                                   path: new_location_equipment_report_path(@location_equipment) %>
                <% end %>
              <% end %>
              <%= render "reports/reports", reports: @location_equipment.reports.order(date: :desc), location_equipment: @location_equipment %>
            </div>
          </div>

          <% if current_user.admin? %>
            <div class="col">
              <%= render "shared/content_header", title: "Insumos" %>
              <div class="row">
                <div class="w-auto">
                  <h5 class="text-center">Bateria</h5>
                  <%= turbo_frame_tag "equipment_battery" do %>
                    <%= render "equipment_supplies/equipment_battery", equipment: location_equipment %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>