<%= turbo_frame_tag location_equipment do %>
  <div class="card bg-secondary mt-3">
    <div class="row g-0">
      <div class="col-md-2" style="min-width: 210px;">
        <%= image_tag image_for(location_equipment, :avatar, ""),
                      alt: "Imagen de Item",
                      class:"img-fluid rounded w-100" %>
      </div>
      <div class="col">
        <div class="card-body">
          <div class="d-flex">
            <% if current_user.admin? %>
              <h5 class="card-title me-auto">
                <%= link_to location_equipment.equipment.full_name, equipment_path(location_equipment.equipment),
                                                                    data: { turbo_frame: "_top" } %>
              </h5>

              <%= render "shared/dropdown" do %>
                <% if location_equipment.form_link.present? %>
                  <li><%= link_to "Formulario", location_equipment.form_link,
                                                class: "dropdown-item text-center",
                                                target: "_blank" %></li>
                <% end %>
                <%= render "shared/button_box", edit_path: edit_location_equipment_path(location_equipment),
                                                delete_path: location_equipment_path(location_equipment),
                                                confirm: "Seguro queres borrar este equipo?" %>
              <% end %>
            <% else %>
              <h5 class="card-title me-auto"><%= location_equipment.equipment.full_name %></h5>
            <% end %>
          </div>
          <p class="card-text"><%= location_equipment.location.client.name %> - <%= location_equipment.location.name %></p>
          <div class="row">
            <div class="col-lg-6 mb-3">
              <%= render "details", location_equipment: location_equipment%>
            </div>
            <div class="col-lg-6">
              <%= render "service_dates", location_equipment: location_equipment%>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 p-3">
        <div class="row gx-5">

          <% unless location_equipment.equipment.building? %>
            <div class="col-12 col-md-6 col-xxl-4">
              <div class="col">
                <%= render "shared/content_header", title: "Informes" do %>
                  <% if current_user.admin? || current_user.editor? %>
                    <%= render "shared/button_link", text: "Agregar",
                                                    path: new_location_equipment_report_path(@location_equipment) %>
                  <% end %>
                <% end %>
                <%= render "reports/reports", reports: @location_equipment.reports.order(date: :desc), location_equipment: @location_equipment %>
              </div>
            </div>
          <% end %>

          <div class="col-12 col-md-6 col-xxl-4">
            <div class="col">
              <%= render "shared/content_header", title: "Actividades" do %>
                <% if current_user.admin? || current_user.editor? %>
                  <%= render "shared/button_link", text: "Agregar",
                                                   path: new_location_equipment_activity_path(@location_equipment) %>
                <% end %>
              <% end %>
              <%= render "activities/activities", activities: @location_equipment.activities.order(date: :desc), location_equipment: @location_equipment %>
            </div>
          </div>

          <div class="col-12 col-md-6 col-xxl-4">
            <div class="col">
              <%= render "shared/content_header", title: "Documentos" do %>
                <% if current_user.admin? %>
                  <%= render "shared/button_link", text: "Agregar",
                                                   path: new_location_equipment_document_path(@location_equipment, document: {documentable_type: @location_equipment.class.name, documentable_id: @location_equipment.id}) %>
                <% end %>
              <% end %>
              <%= render "documents/documents", documents: @location_equipment.documents.order(created_at: :desc), documentable: @location_equipment %>
            </div>
          </div>

          <% if current_user.admin? %>
            <div class="col-12">
              <%= render "shared/content_header", title: "Insumos" %>
              <div class="row">
                <div class="w-auto">
                  <h5 class="text-center">Bateria</h5>
                  <%= turbo_frame_tag "equipment_battery" do %>
                    <%= render "equipment_supplies/equipment_battery", equipment: location_equipment %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>