<%= turbo_frame_tag "main_content" do %>
  <%= render "shared/content_header", title: "Equipos en servicio" do %>
    <%= render "shared/button_link", text: "Agregar",
                                     path: new_location_equipment_path %>
  <% end %>

  <div class="container mt-4">
    <%= turbo_frame_tag "location_equipments" do %>
      <%= render @location_equipments %>
    <% end %>
  </div>
<% end %>
