<%= content_tag :tr, id: dom_id(activity), class: "align-items-stretch" do %>
  <td class="align-middle"><%= activity.description %></td>
  <td class="align-middle"><%= activity.kind %></td>
  <td class="align-middle"><%= activity.date.strftime("%d/%m/%Y") %></td>
  <td class="align-middle">
    <div class="d-flex justify-content-center align-items-center">
      <% if activity.document.attached? %>
        <%= link_to location_equipment_activity_path(location_equipment, activity), data: { turbo_frame: "remote_modal" } do %>
          <i class="fa fa-file" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to edit_location_equipment_activity_path(location_equipment, activity), class: "ms-2" , data: { turbo_frame: "remote_modal" } do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= button_to location_equipment_activity_path(location_equipment, activity), class: "btn btn-sm", form_class: "d-inline", method: :delete, form: { data: {turbo_confirm: "¿Estas seguro?"} } do %>
          <i class="fas fa-trash text-danger"></i>
        <% end %>
      <% end %>
    </div>
  </td>
<% end %>