<%= simple_form_for [location_equipment, report] do |f| %>
  <h2>Fecha</h2>
  <%= f.input :date, as: :datetime, label: "Fecha", value: report.date || Time.now.in_time_zone, end_year: Date.today.year %>

  <h2>Equipo</h2>
  <%= f.simple_fields_for :ups_report_stat do |ups_stats_form| %>
    <%= ups_stats_form.input :operating_mode, collection: UpsReportStat::OPERATING_MODE_OPTIONS, label: "Modo de funcionamiento" %>
    <%= ups_stats_form.input :associated_charge, label: "Carga asociada" %>
    <%= ups_stats_form.input :battery_charge, label: "Carga de la batería" %>
    <%= ups_stats_form.input :voltage_input, label: "Voltaje de entrada" %>
    <%= ups_stats_form.input :voltage_output, label: "Voltaje de salida" %>
    <%= ups_stats_form.input :pat_state, collection: UpsReportStat::PAT_STATE_OPTIONS, label: "Estado de PAT" %>
    <%= ups_stats_form.input :alarms_presence, label: "Existencia de alarmas", collection: UpsReportStat::ALARMS_PRESENCE_OPTIONS %>
    <%= ups_stats_form.input :ventilation_state, label: "Estado de ventilación", collection: UpsReportStat::VENTILATION_STATE_OPTIONS %>
  <% end %>

  <h2>Sala</h2>
  <%= f.simple_fields_for :room_report_stat do |room_stats_form| %>
    <%= room_stats_form.input :room_status, label: "Estado de la sala", collection: RoomReportStat::ROOM_STATUS_OPTIONS %>
    <%= room_stats_form.input :air_conditioning, label: "Funcionamiento de los aires acondicionados", collection: RoomReportStat::AIR_CONDITIONING_OPTIONS %>
  <% end %>

  <br>
  <br>
  <%= f.input :observations, label: "Observaciones" %>

  <h2>Imágenes</h2>

  <div class="my-3 row">
    <% 2.times do |n| %>
      <% image = report.images[n] %>
      <%= content_tag :div, class: "mt-3 border p-3 col-sm-6", data: { controller: "upload" } do %>
        <h4>Imagen <%= n+1 %></h4>
        <% if image %>
          <div data-upload-target="existingImage">
            <%= image_tag image.representation(resize_to_limit: [nil, 250]) %>
            <div class="col-12">
              <%= content_tag :div, "Cambiar", class:"btn btn-primary mt-2", data: { action: "click->upload#changeImage"} %>
            </div>
            <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
          </div>
        <% end %>
        <%= f.input :images, label: "Nueva Imagen #{n + 1}", wrapper_html: {class: "#{image ? "d-none" : ""}", data: { upload_target: "newImage"}} do %>
          <%= f.file_field :images, multiple: true, disabled: image.present?, data: { upload_target: "input"}, accept: "image/jpeg, image/jpg, image/png" %>
          <div class="col-12">
            <%= content_tag :div, "Cancelar", class: "btn btn-primary mt-2 #{image.present? ? "" : "d-none"}", data: { action: "click->upload#reloadExistingImage"} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= f.button :submit, "Aceptar", class: "btn btn-success" %>
<% end %>