<%= simple_form_for [location_equipment, report] do |f| %>
  <h2>Fecha</h2>
  <%= f.input :date,
              as: :datetime,
              label: "Fecha",
              value: report.date || Time.now.in_time_zone,
              end_year: Date.today.year,
              disabled: !current_user.admin?  %>

  <h2>Equipo</h2>
  <% if location_equipment.equipment.ups?%>
    <%= render "ups_form", form: f, is_triphase: location_equipment.equipment.is_triphase %>
  <% elsif location_equipment.equipment.power_unit? %>
    <%= render "power_unit_form", form: f %>
  <% end %>

  <h2>Sala</h2>
  <%= f.simple_fields_for :room_report_stat do |room_stats_form| %>
    <%= room_stats_form.input :room_status, label: "Estado de la sala", collection: RoomReportStat::ROOM_STATUS_OPTIONS %>
    <% unless location_equipment.equipment.power_unit?%>
      <%= room_stats_form.input :air_conditioning, label: "Funcionamiento de los aires acondicionados", collection: RoomReportStat::AIR_CONDITIONING_OPTIONS %>
      <%= room_stats_form.input :temperature, label: "Temperatura" %>
      <%= room_stats_form.input :humidity, label: "Humedad" %>
    <% end %>
  <% end %>

  <br>
  <br>
  <%= f.input :observations, label: "Observaciones" %>

  <h2>Imágenes</h2>

  <div class="my-3 row">
    <% 2.times do |n| %>
      <% image = report.new_record? ? nil : report.images[n] %>
      <div class="mt-3 border col-sm-6 p-2">
        <h4>Imagen <%= n+1 %></h4>
        <%= render "shared/file_upload", file: image,
                                         form: f,
                                         resize: [nil, 250],
                                         file_field: :images, new_label: "Nueva Imagen #{n + 1}",
                                         accepted_formats: "image/jpeg, image/jpg, image/png",
                                         multiple: true %>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, "Aceptar", class: "btn btn-success" %>
<% end %>