<%= form.simple_fields_for :power_unit_report_stat do |power_unit_stats_form| %>
  <div data-controller="power-unit-input">
    <%= power_unit_stats_form.input :general_disconnector, label: "Seccionador general", collection: PowerUnitReportStat::GENERAL_DISCONNECTOR_OPTIONS %>
    <%= power_unit_stats_form.input :emergency_stop_position, label: "Posición parada de emergencia", collection: PowerUnitReportStat::EMERGENCY_STOP_POSITION_OPTIONS %>
    <%= power_unit_stats_form.input :start_key_on_auto, label: "Llave encendido en posición AUTO", collection: PowerUnitReportStat::START_KEY_ON_AUTO_OPTIONS %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :rpm,
                                      input_label: "R.P.M." %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :frequency,
                                      input_label: "Frecuencia (Hz)" %>
    <%= power_unit_stats_form.input :battery_charge_control, label: "Control de carga de baterías (V)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :tension_between_phases_a_b,
                                      input_label: "Tensión entre fases A-B (V)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :tension_between_phases_b_c,
                                      input_label: "Tensión entre fases B-C (V)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :tension_between_phases_c_a,
                                      input_label: "Tensión entre fases C-A (V)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :initial_temperature,
                                      input_label: "Temperatura inicial (°C)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :running_temperature,
                                      input_label: "Temperatura en marcha (°C)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :number_of_starts,
                                      input_label: "Número de arranques" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :operating_time,
                                      input_label: "Tiempo de funcionamiento (Hs)" %>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :failed_starts,
                                      input_label: "Arranques fallidos" %>
    <div class="d-flex">
      <%= power_unit_stats_form.input :oil_pressure, label: "Presión de aceite" %>
      <%= power_unit_stats_form.input :oil_pressure_unit, label: "Unidad", collection: PowerUnitReportStat::OIL_PRESSURE_UNIT_OPTIONS %>
    </div>
    <%= render "no_data_check_input", power_unit_stats_form: power_unit_stats_form,
                                      attribute: :fuel_level,
                                      input_label: "Nivel de combustible" %>
    <%= power_unit_stats_form.input :coolant_level, label: "Nivel de refrigerante", collection: PowerUnitReportStat::COOLANT_LEVEL_OPTIONS %>
    <%= power_unit_stats_form.input :oil_level, label: "Nivel de aceite", collection: PowerUnitReportStat::OIL_LEVEL_OPTIONS %>
    <%= power_unit_stats_form.input :testing_time, label: "Tiempo de prueba (Min.)" %>
    <%= power_unit_stats_form.input :lamp_test, collection: PowerUnitReportStat::LAMP_TEST_OPTIONS, label: "Test de lámparas" %>
    <%= power_unit_stats_form.input :belt_condition, collection: PowerUnitReportStat::BELT_CONDITION_OPTIONS, label: "Estado y tensión de correas" %>
    <%= power_unit_stats_form.input :air_filter_condition, collection: PowerUnitReportStat::AIR_FILTER_CONDITION_OPTIONS, label: "Estado de filtro de aire" %>
    <%= power_unit_stats_form.input :anti_vibration_pad_condition, collection: PowerUnitReportStat::ANTI_VIBRATION_PAD_CONDITION_OPTIONS, label: "Estado de tacos antivibratorias" %>
    <%= power_unit_stats_form.input :liquids_leaks, collection: PowerUnitReportStat::LIQUIDS_LEAKS_OPTIONS, label: "Pérdida de fluídos" %>
    <%= power_unit_stats_form.input :connections_condition_and_battery_fixation, collection: PowerUnitReportStat::CONNECTIONS_CONDITION_AND_BATTERY_FIXATION_OPTIONS, label: "Estado de conexiones y fijación de baterías" %>
    <%= power_unit_stats_form.input :cable_and_electrical_connections, collection: PowerUnitReportStat::CABLE_AND_ELECTRICAL_CONNECTIONS_CONDITION_OPTIONS, label: "Estado de cables y conexiones eléctricas" %>
  </div>
<% end %>