<%= form.simple_fields_for :power_unit_report_stat do |power_unit_stats_form| %>
  <%= power_unit_stats_form.input :equipment_power, label: "Potencia del equipo" %>
  <label>Seccionador general</label>
  <%= power_unit_stats_form.input :general_disconnector, label: "ON/OFF", as: :boolean, checked_value: :true, unchecked_value: :false %>
  <label>Posición parada de emergencia</label>
  <%= power_unit_stats_form.input :emergency_stop_position, label: "ON/OFF" %>
  <%= power_unit_stats_form.input :start_key_on_auto, label: "Llave encendido en posición AUTO" %>
  <%= power_unit_stats_form.input :rpm, label: "R.P.M." %>
  <%= power_unit_stats_form.input :frequency, label: "Frecuencia (Hz)" %>
  <%= power_unit_stats_form.input :battery_charge_control, label: "Control de carga de baterías (V)" %>
  <%= power_unit_stats_form.input :tension_between_phases_a_b, label: "Tensión entre fases A-B (V)" %>
  <%= power_unit_stats_form.input :tension_between_phases_b_c, label: "Tensión entre fases B-C (V)" %>
  <%= power_unit_stats_form.input :tension_between_phases_c_a, label: "Tensión entre fases C-A (V)" %>
  <%= power_unit_stats_form.input :initial_temperature, label: "Temperatura inicial (°C)" %>
  <%= power_unit_stats_form.input :running_temperature, label: "Temperatura en marcha (°C)" %>
  <%= power_unit_stats_form.input :number_of_starts, label: "Número de arranques" %>
  <%= power_unit_stats_form.input :operating_time, label: "Tiempo de funcionamiento (Hs)" %>
  <%= power_unit_stats_form.input :failed_starts, label: "Arranques fallidos" %>
  <%= power_unit_stats_form.input :oil_pressure, label: "Presión de aceite" %>
  <%= power_unit_stats_form.input :fuel_level, label: "Nivel de combustible" %>
  <%= power_unit_stats_form.input :coolant_level, label: "Nivel de refrigerante" %>
  <%= power_unit_stats_form.input :oil_level, label: "Nivel de aceite" %>
  <%= power_unit_stats_form.input :testing_time, label: "Tiempo de prueba (Min.)" %>
<% end %>