<%= turbo_stream.update "flash" do %>
  <%= render "layouts/flash"%>
<% end %>

<%= turbo_stream.prepend "reports" do %>  
  <%= render "report_table_row", report: @report, location_equipment: @location_equipment %>
<% end %>

<%= turbo_stream.append "reports" do %>
  <div class="d-none" id="delete-local-storage" data-controller="auto-save"></div>
<% end %>
<%= turbo_stream.remove "empty_reports" %>
