<%= form_with(model: [ client, location ]) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex">
    <div>
      <%= form.text_field :name, placeholder: "Nombre de la sede", class: "form-control" %>
    </div>

    <div class="btn-group">
      <%= form.submit "Ok", class: "btn btn-success" %>

      <%= link_to client_path(client), class: "btn btn-danger" do %>
        <i class="fa-solid fa-x"></i>
      <% end %>
    </div>
  </div>
<% end %>
