<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Prela</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="height: 100vh">
    <%= render partial: 'shared/navbar' %>
    <div id="flash">
      <% render "layouts/flash"%>
    </div>
    <main class="container-fluid g-0 h-100">
      <div class="row h-100">
        <%= render partial: 'shared/sidebar' %>
        <div class="container col h-100">
          <%= yield %>
          <%= turbo_frame_tag "remote_modal", target: "_top" %>
        </div>
      </div>
    </main>
  </body>
</html>
