<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Prela</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="height: 100vh">
    <%= render partial: 'shared/navbar' %>
    <div id="flash">
      <% render "layouts/flash"%>
    </div>
    <main class="container-fluid g-0 h-100">
      <div class="row h-100">
        <%= render partial: 'shared/sidebar' %>
        <div class="container h-100 col-sm-8">
          <%= yield %>
          <div class="modal fade"
                id="shareRecipeModal"
                tabindex="-1"
                aria-labelledby="newClientRemoteModalLabel"
                aria-hidden="true"
                data-controller="remote-modal"
                data-action="turbo:frame-load->remote-modal#open turbo:submit-end->remote-modal#close">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="modal_content">
                  <%= turbo_frame_tag "remote_modal" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
