<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Prela</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div id="flash" class="fixed-top bg-light">
      <% render "layouts/flash"%>
    </div>
    <% if user_signed_in?%>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 bg-secondary border-top order-2 order-md-1 position-fixed bottom-0 start-0 end-0 d-sm-block d-md-none px-0 border-top"
               style="z-index: 1030;">
            <%= render partial: 'shared/sidebar' %>
          </div>
          <div class="col-12 col-md-3 col-xl-2 bg-secondary border-top order-2 order-md-1 d-none d-md-block position-sticky"
               style="top: 95px; height: calc(100vh - 95px)">
            <%= render partial: 'shared/sidebar' %>
          </div>
          <main class="col-12 col-md-9 col-xl-10 order-1 order-md-2 mb-5 mb-md-0">
            <%= yield %>
            <div class="modal fade"
                id="shareRecipeModal"
                tabindex="-1"
                aria-labelledby="newClientRemoteModalLabel"
                aria-hidden="true"
                data-controller="remote-modal"
                data-action="turbo:frame-load->remote-modal#open turbo:submit-end->remote-modal#close">
              <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" id="modal_content">
                <%= turbo_frame_tag "remote_modal" %>
              </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
