<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Prela</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div id="flash" class="fixed-top bg-light">
      <% render "layouts/flash"%>
    </div>
    <% if user_signed_in?%>
      <div class="d-flex">
        <%= render partial: 'shared/sidebar' %>
        <main class="d-flex h-100 container-fluid" style="padding-bottom: 60px;">
          <%= yield %>
          <div class="modal fade"
                id="shareRecipeModal"
                tabindex="-1"
                aria-labelledby="newClientRemoteModalLabel"
                aria-hidden="true"
                data-controller="remote-modal"
                data-action="turbo:frame-load->remote-modal#open turbo:submit-end->remote-modal#close">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" id="modal_content">
                <%= turbo_frame_tag "remote_modal" %>
              </div>
            </div>
          </div>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
